Repository cybertec-postgresql/pgwatch, pull requests merged in 2024-09, with the labels that each got.

#535 [!] restructure Docker related assets
  .dockerignore
  README.md
  docker-compose.yml
  docker/bootstrap/pgadmin_pass
  docker/bootstrap/pgadmin_servers.json
  docker/bootstrap/prometheus.yml
  docker/compose.add-test-db.yml
  docker/compose.grafana.yml
  docker/compose.pgadmin.yml
  docker/compose.pgbench.yml
  docker/compose.pgwatch.yml
  docker/compose.postgres.yml
  docker/compose.prometheus.yml
  docker/compose.timescaledb.yml
  docker/docker-compose.timescaledb.yml
  docker/docker-compose.yml
Labels: docker, refactoring

#548 [+] add main metrics descriptions, closes #547
  docs/metric_definitions.md
  internal/metrics/metrics.yaml
Labels: documentation

#546 [-] fix Patroni source resolving
  internal/sources/resolver.go
Labels: bug, sources
