Repository cybertec-postgresql/pgwatch, pull requests merged in 2024-06, with the labels that each got.

#454 [-] fix `dbMetricReaderWriter.initMigrator()` and init `reaper.metricDefinitioMap`
  src/metrics/postgres_schema.go
  src/reaper/reaper.go
Labels: bug, config

#457 [+] bump `shirou/gopsutil/v3` from 3.24.4 to 3.24.5
  src/go.mod
  src/go.sum
Labels: dependencies, go

#463 [+] add tests for `db` package
  src/db/bootstrap_test.go
  src/go.mod
  src/go.sum
Labels: test

#468 [-] fix `MonitoredDatabase.ResolveDatabasesFromPostgres()`, fixes #467
  src/reaper/reaper.go
  src/sources/patroni.go
  src/sources/types.go
  src/sources/types_test.go
Labels: bug, test

#469 [+] add tests for postgres `sources.ReaderWriter` implementation
  src/reaper/database.go
  src/reaper/reaper.go
  src/sources/postgres.go
  src/sources/postgres_test.go
  src/sources/resolver.go
  src/sources/resolver_test.go
  src/sources/types.go
  src/sources/types_test.go
  src/sources/yaml.go
Labels: test

#470 [+] add tests for YAML `sources.ReaderWriter` implementation
  src/sources/sample.sources.yaml
  src/sources/types.go
  src/sources/yaml.go
  src/sources/yaml_test.go
Labels: test
