Repository cybertec-postgresql/pgwatch, pull requests merged in 2025-05, with the labels that each got.

#751 [+] add tests for etcd-based Patroni clusters resolver
  go.mod
  go.sum
  internal/sources/conn_test.go
  internal/sources/resolver.go
  internal/sources/resolver_test.go
Labels: test

#754 [+] add tests for `webserver`
  cmd/pgwatch/main.go
  internal/log/log.go
  internal/reaper/reaper.go
  internal/sources/resolver.go
  internal/webserver/api.go
  internal/webserver/cors.go
  internal/webserver/jwt_test.go
  internal/webserver/metric.go
  internal/webserver/metric_test.go
  internal/webserver/preset.go
  internal/webserver/server_test.go
  internal/webserver/source.go
  internal/webserver/source_test.go
  internal/webserver/webserver.go
  internal/webserver/webserver_test.go
  internal/webserver/wslog.go
  internal/webserver/wslog_test.go
Labels: test

#757 [-] fix `--metrics` command-option description, fixes #756
  internal/.gitignore
  internal/metrics/cmdopts.go
Labels: bug

#758 [-] fix duplicated definition of symbol `dlopen`
  go.mod
  go.sum
Labels: dependencies

#765 [*] use consistent password in install docs
  docs/tutorial/custom_installation.md
Labels: documentation

#767 [-] fix `QueryMeasurements` nil pointer dereference, fixes #766
  internal/reaper/cache.go
  internal/reaper/reaper.go
  internal/sources/conn.go
  internal/sources/conn_test.go
Labels: bug, critical

#768 [+] decrease memory allocations for `metrics.MeasurementEnvelope`
  internal/metrics/logparse.go
  internal/reaper/database.go
  internal/reaper/reaper.go
  internal/sinks/json.go
  internal/sinks/json_test.go
  internal/sinks/multiwriter.go
  internal/sinks/multiwriter_test.go
  internal/sinks/postgres.go
  internal/sinks/postgres_test.go
  internal/sinks/prometheus.go
  internal/sinks/rpc.go
  internal/sinks/rpc_test.go
Labels: enhancement, refactoring

#769 [+] move sources sync to the reaper
  cmd/pgwatch/main.go
  internal/reaper/cache.go
  internal/reaper/database.go
  internal/reaper/file.go
  internal/reaper/metric_test.go
  internal/reaper/reaper.go
  internal/reaper/recommendations.go
  internal/sources/conn.go
  internal/sources/conn_test.go
  internal/sources/resolver.go
  internal/sources/types.go
Labels: refactoring, sources

#770 [+] rewrite `ParseLogs()` with timers and eliminate extra checks
  internal/metrics/logparse.go
  internal/metrics/logparse_test.go
Labels: metrics, refactoring

#773 [*] remove metrics definitions from Postgres sink
  internal/cmdopts/cmdoptions.go
  internal/sinks/multiwriter.go
  internal/sinks/multiwriter_test.go
  internal/sinks/postgres.go
  internal/sinks/postgres_test.go
Labels: refactoring, sinks
