Repository cybertec-postgresql/pgwatch, pull requests merged in 2025-01, with the labels that each got.

#614 [-] remove passwords from sink log messages, fixes #612
  go.mod
  go.sum
  internal/log/formatter.go
  internal/sinks/json.go
  internal/sinks/multiwriter.go
  internal/sinks/postgres.go
  internal/sinks/prometheus.go
  internal/sinks/rpc.go
Labels: bug, sinks, security

#615 [+] add `/readiness` and `/liveness` endpoints, closes #611
  cmd/pgwatch/main.go
  internal/cmdopts/cmdoptions.go
  internal/reaper/reaper.go
  internal/webserver/cmdoptions_test.go
  internal/webserver/cmdopts.go
  internal/webserver/server_test.go
  internal/webserver/webserver.go
Labels: enhancement, rest api

#618 [*] mask password in the source connection string, fixes #610
  internal/webui/src/pages/SourcesPage/components/SourcesGrid/SourcesGrid.consts.tsx
  internal/webui/src/pages/SourcesPage/components/SourcesGrid/components/MaskConnectionString.tsx
Labels: enhancement, webui

#619 [*] align text fields to the left in WebUI grids
  internal/webui/src/pages/MetricsPage/components/MetricsGrid/MetricsGrid.consts.tsx
  internal/webui/src/pages/PresetsPage/components/PresetsGrid/PresetsGrid.consts.tsx
  internal/webui/src/pages/SourcesPage/components/SourcesGrid/SourcesGrid.consts.tsx
Labels: webui

#620 [+] make fallback logger use default options
  internal/log/log.go
Labels: enhancement

#621 [+] refactor `config` command and sub-commands
  internal/cmdopts/cmdconfig.go
  internal/cmdopts/cmdconfig_test.go
  internal/cmdopts/cmdoptions.go
Labels: refactoring

#623 [+] add packages `doc.go` files
  api/doc.go
  cmd/convert_metrics/doc.go
  cmd/pgwatch/doc.go
  internal/cmdopts/doc.go
  internal/db/doc.go
  internal/log/doc.go
  internal/metrics/doc.go
  internal/metrics/psutil/doc.go
  internal/reaper/doc.go
  internal/sinks/doc.go
  internal/sources/doc.go
  internal/webserver/doc.go
  internal/webui/doc.go
Labels: documentation

#624 [-] fix `PostgresWriter.EnsureMetricTime()`, fixes #622
  internal/sinks/postgres.go
  internal/sinks/postgres_test.go
  internal/sinks/sql/ensure_partition_timescale.sql
Labels: bug, sinks

#627 [+] fail early if Prometheus sink cannot be served
  internal/sinks/prometheus.go
Labels: enhancement, sinks
